body {
  font-family: "Varela Round", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f8fb;
  color: #04578c;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
}

.intro-text {
  font-family: "Calistoga", serif;
  font-weight: 400;
  font-style: normal;
}

header {
  background-color: #b9d9eb;
}

#logo {
  height: 120px; /* Tamanho maior para o logo */
  width: auto; /* Proporção mantida */
  vertical-align: middle;
}

.nav-link {
  font-size: 1.2rem; /* Ajuste do tamanho do texto dos links */
  font-weight: bold;
  color: #04578c;
}

.nav-link:hover {
  color: #002b5e;
}

#inicial {
  max-width: 600px;
  height: auto;
}

.carousel-img {
  width: 100%;
  height: 400px; /* Definindo uma altura fixa para as imagens do carrossel */
  object-fit: cover; /* Assegura que a imagem preencha o espaço sem distorção */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Fundo escuro para os ícones de controle */
}

footer {
  background-color: #04578c;
  color: white;
}

form {
  margin-top: 2rem;
}

.form-control {
  border-radius: 0.25rem;
}

.btn-primary {
  background-color: #04578c;
  border: none;
}

.btn-primary:hover {
  background-color: #033e5c;
}
